body {
    font-family: "system-ui", sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(
        145deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(237, 255, 243, 1) 50%,
        rgba(255, 251, 240, 1) 100%
    );
}

header {
    background: linear-gradient(
        90deg,
        rgba(42, 123, 155, 1) 0%,
        rgba(87, 199, 133, 1) 50%,
        rgba(237, 221, 83, 1) 100%
    );
    margin: 0;
    padding: 15px 20px;
    border-style: solid;
    border-color: white;
    border-width: 3px;
}

h1 {
    color: #ffffff;
    margin: 0;
    font-weight: 900;
    text-align: center;
    font-style: italic;
    padding: 20px;
}

.page-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

footer {
    background: linear-gradient(
        90deg,
        rgba(42, 123, 155, 1) 0%,
        rgba(87, 199, 133, 1) 50%,
        rgba(237, 221, 83, 1) 100%
    );
    border-style: solid;
    border-color: white;
    border-width: 3px;
    height: 5vh;
    margin-top: auto;
}

.playlist-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 30px;
    max-width: 1500px;
    align-self: center;
    min-height: 60vh;
    flex-grow: 1;
}

.card {
    border-color: black;
    border-radius: 5%;
    overflow: hidden;
    width: 250px;
    padding: 20px;
    box-shadow: 0px 5px 30px rgb(0, 0, 0, 0.2);
    transition: all 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card-info {
    padding-left: 5px;
    color: #555464;
}

.like-count-container {
    display: flex;
    flex-direction: row;
}

h2,
h3,
p {
    margin: 0;
}

.modal-overlay {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.5s;
    pointer-events: none;
    backdrop-filter: blur(5px);
}

.show-overlay {
    transition: all 0.5s;
    opacity: 1;
    pointer-events: all;
}

.modal-content {
    background-color: #ffffff;
    padding: 25px;
    width: 60%;
    max-width: 900px;
    border-radius: 25px;

    box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.8);

    display: grid;
    grid-template-columns: 1fr 1fr 5fr;
    grid-template-rows: 1fr 1.8fr 0.1fr;
    grid-template-areas:
        "playlist-image playlist-image playlist-info"
        "song-list song-list song-list"
        ". .  shuffle";
    justify-items: center;
    align-items: center;

    color: #555464;
    gap: 5px;
}

.playlist-image {
    grid-area: playlist-image;
    object-fit: cover;
}

#modal-img {
    border-radius: 10px;
}

.shuffle-btn {
    grid-area: shuffle;
    justify-self: end;
    align-self: end;
    padding: 10px;
    font-weight: 800;
    border-radius: 10px;
    background-color: #d0d0d0;
    box-shadow: 0px 0px 4px rgb(0, 0, 0, 0.2);
    transition: transform 0.1s, background-color 0.2s;
}

.delete-btn {
    justify-self: start;
    align-self: end;
    padding: 10px;
    font-weight: 800;
    border-radius: 10px;
    background-color: #d0d0d0;
    box-shadow: 0px 0px 4px rgb(0, 0, 0, 0.2);
    transition: transform 0.1s, background-color 0.2s;
}

.delete-btn:hover {
    background-color: #f08080;
}

.delete-btn:active {
    transform: scale(0.9);
}

.shuffle-btn:hover {
    background-color: #a9d36a;
}

.shuffle-btn:active {
    transform: scale(0.9);
}

.playlist-info {
    grid-area: playlist-info;
    padding: 10%;
    text-align: left;
    width: 90%;
}

.song-list {
    grid-area: song-list;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    height: 370px;
    overflow: scroll;
    padding: 20px;
}

.song-card {
    height: 100px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background-color: #f3f3f3;
    box-shadow: 0px 0px 4px rgb(0, 0, 0, 0.2);
}

.modal-playlist-name {
    font-size: 40px;
    padding: 5px;
}

.modal-playlist-creator {
    font-size: 25px;
    padding-left: 5px;
}

.title {
    margin: 5px 0;
}

.creator {
    margin: 5px 0;
}

.container-no-data {
    justify-content: center;
    align-items: center;
}

.duration-container {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    justify-self: stretch;
}

.song-duration {
    padding-right: 30px;
    font-weight: 600;
}

.heart-icon {
    transition: transform 0.5s, filter 0.3s;
}

.heart-icon:hover {
    transform: scale(1.6);
}

.heart-icon:active {
    transform: scale(0.9);
}

.like-count {
    padding-left: 10px;
}

button {
    background-color: transparent;
    border-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-weight: 700;
}

.liked {
    filter: invert(23%) sepia(31%) saturate(7112%) hue-rotate(345deg)
        brightness(108%) contrast(82%);
    overflow: hidden;
}

nav {
    border-style: solid;
    border-color: white;
}

.navlink {
    color: white;
    font-weight: 500;
    cursor: pointer;
    padding: 0 10px;
}

.navlink:hover {
    font-weight: 800;
}

.current {
    text-decoration: underline;
}

.navlink:active {
    color: aquamarine;
}

.featured-layout {
    display: grid;
    grid-template-columns: 2fr 4fr;
    padding: 50px;
    color: #555464;
    gap: 20px;
}

.song-title {
    font-size: 15px;
}

.song-artist {
    font-size: 12px;
}

.song-album {
    font-size: 12px;
}

.featured-playlist-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.featured-playlist-image {
    border-radius: 5%;
    box-shadow: 0px 0px 8px rgb(0, 0, 0, 0.5);
}

.featured-playlist-name {
    font-size: 50px;
}

.featured-playlist-author {
    font-size: 25px;
}

.featured-song-container {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 80vh;
    overflow: scroll;
}

.tools {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-weight: 600;
}

.dropbtn,
.add-button {
    background-color: rgba(42, 123, 155, 1);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    align-self: stretch;
    min-height: 60px;
}

.dropbtn:hover,
.dropbtn:focus,
.add-button:hover {
    background-color: rgba(22, 93, 125, 1);
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    min-width: 160px;
}

.dropdown-content button:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.home-main {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.edit-btn {
    justify-self: start;
    align-self: end;
    padding: 10px;
    font-weight: 800;
    border-radius: 10px;
    background-color: #d0d0d0;
    box-shadow: 0px 0px 4px rgb(0, 0, 0, 0.2);
    transition: transform 0.1s, background-color 0.2s;
}

.edit-btn:hover {
    background-color: #81a4cd;
}

.search-tab {
    background-color: rgba(42, 123, 155, 1);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.search-btn,
.clear-btn {
    color: white;
    background-color: rgb(255, 255, 255, 0.3);
    padding: 5px;
    border-color: white;
}

.add-modal-content {
    background-color: #ffffff;
    padding: 25px;
    width: 60%;
    border-radius: 25px;

    box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.8);

    color: #555464;
}

.sub-form-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    padding: 20px;
    border-style: solid;
    margin: 20px 0;
}

.form-group {
    padding: 2px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
}

.add-modal-title {
    padding-top: 10px;
    padding-bottom: 20px;
}

.add-song-list {
    grid-area: song-list;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 400px;
    overflow: scroll;
    padding: 20px;
}

.add-songs-title {
    display: block;
    width: 100%;
}

.form-btn {
    padding: 5px;
    background-color: #81a4cd;
    color: white;
    border-radius: 5px;
}

.edit-name {
    font-size: 40px;
    padding: 5px;
    margin: 0;
    color: rgb(85, 84, 100);
    font-size: 40px;
    font-weight: 700;
    padding-left: 5px;
}

.edit-author {
    color: rgb(85, 84, 100);
    font-size: 25px;
    padding-left: 5px;
}

@media (max-width: 800px) {
    .featured-layout {
        display: flex;
        flex-direction: column;
        padding: 50px;
        color: #555464;
        gap: 20px;
    }

    .song-card {
        height: 50px;
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 5px;
        border-radius: 10px;
        background-color: #f3f3f3;
        box-shadow: 0px 0px 4px rgb(0, 0, 0, 0.2);
    }

    .tools {
        display: flex;
        flex-direction: row;
        gap: 5px;
        font-weight: 600;
        flex-wrap: wrap;
    }

    .card {
        width: 200px;
    }

    .modal-content {
        grid-template-rows: 1fr 1fr 0.1fr;
    }

    .song-list {
        height: 150px;
    }

    .add-modal-content {
    background-color: #ffffff;
    padding: 25px;
    width: 70%;
    border-radius: 25px;

    box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.8);

    color: #555464;
}

    .add-song-list {
    grid-area: song-list;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100px;
    overflow: scroll;
    padding: 20px;
}
}
